[*.cs]

# CA1822: Пометьте члены как статические
dotnet_diagnostic.CA1822.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none
